<h2>
  Please wait, we're downloading repository for you.
</h2>

<div id="output"></div>

<style>
  #output {
    padding-top: 40px;
    width: 400px;
    margin: 0 auto;
  }
  .commit {
    background-color: #bbb;
  }
  .contributor {
    background-color: #479;
  }
  #output div {
    text-indent: -9999px;
    background-image: url(/images/GitHub-Mark-64px.png);
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: 2px 2px;
    overflow: hidden;
    width: 36px;
    height: 36px;
    margin: 2px;
    padding: 2px;
    float: left;
  }
</style>

<hr/>

<script>
  var $output = $('#output');

  function pipe(type) {
    $output.append('<div class="' + type + '">' + type + '</div>');
  }
</script>
